body {
  text-align: center;
  font-family: sans-serif;
  background: #222;
  color: white;
}

button, input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

canvas {
  background: #eee;
  margin-top: 20px;
}

.hidden {
  display: none;
}

#countdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  color: white;
}